.loginBox {
  background-size: cover;
  height: 100%;
  width: 100%;
}

.loginText {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
}

.loginText h1 {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 50px;
  color: #19405B;
}

.loginText span {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #19405B;
}

.loginBox img {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 100%;
  
    /* Set up proportionate scaling */
    width: 100%;
    height: 100%;
  
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.9;
}

.LoginComponents {
  margin-left: 32%;
}

@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway&display=swap');