li {
    list-style: none;
    padding-left: 15px;
}

.Nav-link {
    text-decoration: none;
    color: darkgreen;
}

.Nav-link:hover {
    color:brown;
}

ul.ulNav {
    list-style-type: none;
    margin: 0;
    padding: 13px;
    overflow: hidden;
    background-color: transparent;
  }

ul.ulNav li {
    float: left;}

ul.ulNav li.links {
    float: right;
    border: 2px solid darkgreen;
    padding: 2px 10px;
}

.Navs {
    color:darkgreen;
    text-decoration: none;
}

/* li.links:hover, li.links:active  {
    background-color: green;
    color: white;
} */




