body {
    background-color: rgb(228, 219, 208);
    background-size: cover;
}



.buttonGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 8%;
    width: 150px;
    margin-left: 43%; 
}

h2 {
    color: rgb(65, 50, 50);
}