body {
    background-image: url('./fog-foggy-forest-4827.jpg');
    background-size: cover;
}

.targetButton {
    background-color: transparent;
    border: none;
}

.buttonGroup {
    text-align: center;
    padding-top: 8%;
}

h2 {
    color: #1E3333;
}